*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    transform: 5s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.scoreboardPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100px;
    margin: 10px;
    background-color: #fff;
}
.card{
    color: darkblue;
    font-size: 12px;
}

.container{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.shooterBox{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: linear 1s ease;

   
    /* transform: 5s ease-in-out; */
}
.target{
    width: 110px;
    height: 110px;
    position: absolute;
    /* display: none; */
    
    border-radius: 50%;
    background-image: url('https://scontent.fprg4-1.fna.fbcdn.net/v/t1.15752-9/426270025_1128636018151421_2045870484667008174_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=gCQ39w4mus8AX-0VMJX&_nc_ht=scontent.fprg4-1.fna&oh=03_AdQ2nMoUyQGL1BRedmBI5e9T5gJQxWsSr6DJeURTw_LMjQ&oe=65FF875C');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: crosshair;
    transition: linear 1s ease;
}
.bigpes{
    width: 100%;
    height: 100%;
}
.pesbackground{
    background-image: url('https://scontent.fprg4-1.fna.fbcdn.net/v/t1.15752-9/426270025_1128636018151421_2045870484667008174_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=gCQ39w4mus8AX-0VMJX&_nc_ht=scontent.fprg4-1.fna&oh=03_AdQ2nMoUyQGL1BRedmBI5e9T5gJQxWsSr6DJeURTw_LMjQ&oe=65FF875C');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: linear 1s ease;
}
@keyframes fire {
    0% { box-shadow: 0 0 20px 20px rgba(255, 165, 0, 0.5); }
    50% { box-shadow: 0 0 60px 40px rgba(255, 165, 0, 0.8); }
    100% { box-shadow: 0 0 20px 10px rgba(255, 165, 0, 0.5); }
}
.fireanim{
    transition: linear 0.5s ease;
    animation: fire 1s infinite alternate; 
}
.smaller {
    transform: scale(0.5);
}
.smoothtrans{
    transition: transform 0.5s ease
}
.moveleft{
    transform: translateX(-50%);

}

.target:active {
    box-shadow: 0 0 5px 3px magenta;
}
/* .target:hover{
    box-shadow: 0 0 10px 5px magenta;
} */
.shooterBox .hit{
    /* display: none; */
    font-size: 40px;
    font-weight: 600;
    color: #3b27ee;
    position: absolute;

}

.shooterBox .miss{
    /* display: none; */
    font-size: 40px;
    font-weight: 600;
    color: #ee1a1a;
    position: absolute;
}
.bar{
    width: 580px;
    border-radius: 50px;
    height: 10px;
    background-color: red;
    animation: none
    /* direction: rtl; */
}
.animate {
    animation: decrease 15s linear forwards;

}
@keyframes decrease{
    0%{
        width: 580px;
        margin-right: 0px;
    }
    100%{
        width: 0px;
        margin-right: 580px;
    }
}

.combinedCard{
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.combinedCard .card{
    width: 600px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px; 
    gap: 10px;
}
#startButton, #resetButton{
    transition: 0.5s ease;

}
#startButton:active, #resetButton:active{
    background-color: #2980b9; 
    color: white;
    transform: scale(0.9);

}